.abc {
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: right;
}

.text2 {
    text-align: left;
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(84, 86, 201);  
}

img {
    max-width: 250px; 
    height: auto; 
  }